.slider {
    width: 70%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    
}

.slides {
    display: flex;
    width: 200%; /* 2 * 1363px */
    transition: transform 2s ease-in-out;
}

.slide {
    width: 1363px;
    height: 400px;
}