#corpo__blog{
    background-color: rgb(80, 80, 80);
    #login__area{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: auto;
        background-color: rgb(150, 151, 151);
        border-radius: 10px;

        .logo{
            height: 100px;
            width: auto;
        }

        #login__area--login{
            background-color: rgb(184, 184, 184);
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }
    }
}